    <div class= "text-center">
      <div class="banner">
        <h1 id="main_page_title">Welcome Pet Lovers!</h1>
        <%= link_to "ALL PET SITTERS", offers_path, class: "btn btn-primary btn-lg marged-xs"%>
        <%= link_to "BECOME PET SITTER", new_offer_path, class: "btn btn-primary btn-lg marged-xs"%>
        <%= render 'form_for' %>
      </div>
    </div>

      <div class="text-center padded-big features">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="white_card">
                <%= image_tag "plane.png" %>
                <h2>Mobile</h2>
                <p>Find a sitter for your beloving pets any time and anywhere</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="white_card">
                <%= image_tag "Key.png" %>
                <h2>Free minded</h2>
                <p>No need to consign your home's keys</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="white_card">
                <%= image_tag "Good.png" %>
                <h2>Confident</h2>
                <p>Discover pet's sitters approuved by our community</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="white_card">
                <%= image_tag "Heart.png" %>
                <h2>Friendly</h2>
                <p>Join a community of pets lovers, just like you</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper-light-green padded">
        <h2 class="text-center">Some of our pet sitters</h2>

        <div class="padded">
          <div class = "container">
            <div class ="row">
              <div class="col-xs-12 col-sm-4">
                <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_url('normandy.jpg') %>');">
                  <div class="card-category">Normandy</div>
                  <div class="card-description">
                    <h2>Clementine</h2>
                    <p>Lovely big farm in normandy</p>
                  </div>
                  <%= link_to "", offers_path, class: "card-link" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_url('paris.jpg') %>');">
                  <div class="card-category">Paris</div>
                  <div class="card-description">
                    <h2>Malik</h2>
                    <p>Huge flat in Paris</p>
                  </div>
                  <%= link_to "", offers_path, class: "card-link" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_url('london.jpg') %>');">
                  <div class="card-category">London</div>
                  <div class="card-description">
                    <h2>Laure</h2>
                    <p>House central London</p>
                  </div>
                  <%= link_to "", offers_path, class: "card-link" %>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="block1">
          <div class = "container text-center">
            <div class ="row">
              <div class="col-xs-12">
                <h2> Join us ! </h2>
                <%= link_to "Sign Up", new_user_session_path, class: "btn btn-primary"%>
              </div>
            </div>
          </div>
        </div>
      </div>

