<div class="bg-lighter-grey">
  <div class="container">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card_offer">
            <div class="card_link">
              <%= link_to(offer_path(offer)) do %>
                <% if offer.photo.present? %>
                  <%= cl_image_tag offer.photo, height: 100, width: 100, crop: :fill, class:"offer_image"%>
                <% else %>
                  <%= image_tag "chat.png", height: 100, width: 100, crop: :fill, class:"offer_image"%>
                <% end %>
              <% end %>
            </div>
            <h2 class="offer_title"><%= offer.title %></h2>
            <% if offer.owner == current_user %>
              <%= link_to(edit_offer_path(offer)) do %>
                <i class="fa fa-pencil offer_edit"></i>
              <% end %>
              <%= link_to(offer_path(offer), method: :delete, data: {confirm: "Are you sure?"}) do %>
                <i class="fa fa-trash-o offer_delete"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
