


<div class="bg-lighter-grey">
  <div class="container text-center">
    <div class="row">

      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="box">

          <div class="card_main_show" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
            <% if @offer.photo.present? %>
              <%='http://res.cloudinary.com/doosfknzw/image/upload/' + @offer.photo.path %>
            <% else %>
              'http://static1.businessinsider.com/image/5588455c69bedd63541b9b5b-1200/wong-wanted-to-help-seibel-make-the-apartment-feel-more-inviting-we-tempered-the-architecture-finishes-of-the-loft-with-softer-furnishings-and-materials-he-told-business-insider-we-blended-their-love-of-reclaimed-wood-and-metal-with-shag-rugs-quilted-chairs-leather-and-velvet.jpg'
            <% end %>
          );">
            <h2 class="offer_main_title"><%= @offer.title %></h2>
            <p class="offer_main_price"><%= @offer.price %>‎ € / day</p>
            <p class="offer_main_category"><%= @offer.category %>‎ sitting</p>

            <% if @offer.owner == current_user %>
              <%= link_to(edit_offer_path(@offer)) do %>
                <i class="fa fa-pencil offer_edit"></i>
              <% end %>
              <%= link_to(offer_path(@offer), method: :delete, data: {confirm: "Are you sure?"}) do %>
                <i class="fa fa-trash-o offer_delete"></i>
              <% end %>
            <% end %>



          </div>
        </div>
        <div class="main_description">
          <p><%= @offer.description %>‎</p>
        </div>
        <div class="padded-small">
          <ul class="list-inline">
            <% if !current_user.offers.include? @offer %>
              <li>
                <%= simple_form_for [@offer, @order] do |f| %>
                  <%= f.input :user_id, as: :hidden, value: current_user.id %>
                  <%= f.input :offer_id, as: :hidden, value: @offer.id %>
                  <%= f.submit "Book this offer", class: "btn btn-success" %>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to "Back", offers_path, class: "btn btn-success" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @flat_coordinates %>;
      alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
